@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#text-box {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

#landing-page {
  background-image: url('/bg-landing.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust the height as needed */
}

#sign-in-page {
  background-image: url('/sign-in-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

#sign-up-page {
  background-image: url('/sign-in-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

#signout-page {
  background-image: url('/sign-in-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.club-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}